.card {
  border: 1px solid rgb(22, 22, 22);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  /* min-height: 34.375rem; */
  overflow: hidden;
  background-color: rgb(22, 22, 22);
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 1rem;
  color: #fff;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
    color: crimson;
}

.description{
  text-align: left;
}

.button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
