.meallist {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

@media (min-width: 36rem) {
  .meallist {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}

@media (min-width: 62rem) {
  .meallist {
    grid-template-columns: repeat(3, minmax(0, auto));
  }
}

@media (min-width: 75rem) {
  .meallist {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
}